@import url('https://fonts.googleapis.com/css?family=Open+Sans');

*{
    font-family: montserrat;
}
#mainLogoArea{
    /* background-image: linear-gradient(to right, #38f9d7 50%,#43e97b 100%); */
    background-image: url(icons/bg5.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: contain;
    background-position-x: 50%;
    background-position-y: 50%;
}

.has-shadow-divider{
    box-shadow: 5px 0 3px rgba(0,0,0,0.25)
}
.is-positioned-relative{
    position: relative;
}
.is-positioned-absolute{
    position: absolute;
}
.is-positioned-fixed{
    position: fixed;
}

.tileHover{
    transition: all ease 0.25s;
    margin: 0 10px;
}
.tileHover:hover{
    /* background: rgba(0, 0, 0, 0.274); */
    transform: scale(1.05);
}

.productHover{
    background: rgba(255, 254, 254, 0.26);
    margin-left: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius:8px;
    transition: all ease 0.25s;
}
.productHover:hover{
    background: rgba(255, 254, 254, 1);
    transform: scale(1.05);
    color:black
}

#browseProductBtn{
    top:20%;
    left:50%;
    transform:translateX(-50%)
}

#littleOverview{
    background-image: url(icons/gradient.png);
    background-attachment: fixed;

}

footer{
    height:50vh;
}

/* Animations */

#mainLeadLine{
    animation: show 1s 0.5s forwards ease;
    opacity: 0;
}

#subLeadLine{
    animation: show 1s 0.7s forwards ease;
    opacity: 0;
}
#smallDescLine{
    animation: show 1s 0.9s forwards ease;
    opacity: 0;
}
#heroBtns{
    animation: show 1s 1.5s forwards ease;
    opacity: 0;
}

@keyframes show{
    from{
        transform: scale(0.7);
        visibility: hidden;
        opacity: 0;
    }
    to{
        transform: scale(1);
        visibility: visible;
        opacity: 1;
    }
}